*{
    background-color: #dff9fb;
    padding: 0px;
    margin: 0px;
}
.header{
    height: 50px;
    width: 900px;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    border: burlywood solid 3px;
    background-color: #686de0;
}
.header a{
    background-color: black;
    font-size: x-large;
    font-style: italic;
    text-decoration: none;
    color: white;
    padding: 15px;
}
.picture{
    background-image: url("image/pic.jpeg ");
    background-size: cover;
    margin-top: 30px;
    width: 100%;
    height: 350px;
}
.footer {
    margin: 0 auto;
    text-align: center;
    border: solid 3px black;
    margin-top: 15px;
    width: 900px;
}
.fheader{
    display: flex;
}
#h{
    border: solid 1px black;
    width: 200px;
    height: 50px;
    margin-top:17px;
    margin-left: 150px;
    padding-top: 10px;
    text-align: center;
    font-size: xx-large;
    background-color: white;

}
#j{
    border: solid 1px black;
    width: 200px;
    height: 50px;
    margin-top:17px;
    margin-left: 250px;
    padding-top: 13px;
    text-align: center;
    font-size: xx-large;
    background-color: white;
}
.fpic{
    background-image: url("image/pic2.png ");
    background-size: cover;
    margin-top: 10px;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}
h1{
    text-align: center;
    font-size: 50px;
}
h2{
    text-align: center;
    margin-top: 10px;
    font-weight: lighter;
}
